<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body>
    <h1>Name : <%=personInfo.name%></h1>
    <h1>Age : <%=personInfo.age%></h1>
    <h1>Phone Number: <%=personInfo.phone%></h1>
    <h1>Role : <%=personInfo.role%></h1>
    <div>
        <h1>Progress</h1>
        <h1></h1>
        <form>
            <input type="text" name="/>
        </form>
    </div>
</body>
</html>