<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/main.css">
    <title>Home</title>
    
</head>
<body>
    <button id="btn-login" onclick="login()">LOG IN</button>
    <button id="btn-logout" onclick="logout()">LOG OUT</button>
    
    <header class="main">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#page1">The Dirty Cheetahs</a></li>
                    <li><a href="">Lightning Tigers</a></li>
                    <li><a href="">Spitting Cobras</a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <p id="page1">
      <div class="container">
        <title></title>
        <h4>Gertriu</h4>
      </div>
    </p>

    <div class="hidden" id="gated-content">
        <p>
          You're seeing this content because you're currently
          <strong>logged in</strong>.
        </p>
        <label>
          Access token:
          <pre id="ipt-access-token"></pre>
        </label>
        <label>
          User profile:
          <pre id="ipt-user-profile"></pre>
        </label>
      </div>

    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
    <script src="public/app.js"></script>

</body>
</html>