<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COACH SIGN UP</title>
</head>

<body>
    <div>
        <h1>SIGN UP</h1>
    </div>

    <h1>ROLE: COACH</h1>

    <form>
        <label for="team-name">Team Name: </label>
        <input type="text" name="team-name">

        <label for="sport-type">Type of Sport: </label>
        <input type="text" name="sport-type">
    </form>

    <div>
        
        <form>
        <div>
            <h2>Members:</h2>
            <ul id="members-list">

            </ul>
            <label for="member-add">Add Member: </label>
            <input id="member-add" name="member-add">
            <button onclick="" class="add"></button>
        </div>
        <div>
            <h2>Monitoring Factors:</h2>
            <ul id="parameters-list">

            </ul>
            <label for="param-add">Add Member: </label>
            <input id="param-add" name="param-add">
            <button onclick="" class="add"></button>
        </div>
        </form>
    </div>

    <div>
        <button>SUBMIT</button>
    </div>

    <script src="./coach.js"></script>

</html>