<%-include("partials/header"); -%>

<body style="background-color: #FEFAE0">
    <div class="pt-3 pb-3" style="background-color: #D4A373; font-family: 'Permanent Marker', cursive; color: #FEFAE0">
        <h1 class="text-center">SIGN UP</h1>
    </div>

    <h1 class="text-center mt-5" style="color: #8A926F">YOUR ROLE:</h1>
    
    <div class="text-center" style="margin-top: 10%">
    <a href="./coach" ><button class="pl-4 pr-4 pt-4 pb-4" style="font-size: 46px; border: 2px solid #8A926F; background-color: transparent; padding: 1%; margin: 1%" name="coach">COACH</button></a>
    <a  href="./player"><button class="pl-4 pr-4 pt-4 pb-4" style="font-size: 46px; border: 2px solid #8A926F; background-color: transparent; padding: 1%; margin: 1%" name="player">PLAYER</button></a>
    </div>
    
</body>
</html>