<%-include("partials/header"); -%>

<body>
    <header class="main">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#page1">The Dirty Cheetahs</a></li>
                    <li><a href="#page2">Lightning Tigers</a></li>
                    <li><a href="#page3">Spitting Cobras</a></li>
                    <li><a href="#add"></a></li>
                </ul>
            </nav>
        </div>
      </p>
    </header>
</body>
</html>