.hidden {
    display: none;
  }
  
label {
  margin-bottom: 10px;
  display: block;
  color: purple;
}
body{
  background-color:blue;
}

.player-info {
  background-color: #E9EDC9; 
  margin: 0px 20px; 
  color: #8A926F;
}

.rounded{
  border: 1px solid #8A926F; font-size: 24px; margin: 0.5%;
}
.big-


/*account.ejs*/
